*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: serif, sans-serif;
    background-color: #ebebeb;
}

header,
section,
aside {
    display: block;
}


/*Format for header*/

header {
    background-color: #fdd504;
    box-shadow: 0 0 15px #ccc;
}

#header_wrapper {
    width: 1200px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#header_wrapper:after {
    content: ' ';
    display: block;
    clear: both;
}

#logo {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    float: left;
    display: table;
    padding-top: 5px;
    padding-bottom: 5px;
}

#logo img,
#logo span {
    display: table-cell;
    vertical-align: middle;
    margin-right: 5px;
}

#main_nav {
    /*
    display: table;
    float: right;
    width: 1050px;
    text-align: center;
*/
    display: table;
    float: right;
    width: 87.5%;
    /*1050px / 1200px */
    text-align: center;
    position: static;
    background-color: #fdd504;
}

#main_nav a,
#main_nav span {
    display: table-cell;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

span#search_box input[type='text'] {
    /*
    width: 300px;
    height: 30px;
    padding: 5px;
    outline: 0;
    border: 0;
    float: left;
*/
    /*  Của thầy  */
    width: 80%;
    height: 30px;
    padding: 5px;
    outline: 0;
    border: 0;
    float: left;
}

#button_search {
    padding: 5px 10px;
    float: left;
    height: 30px;
    outline: 0;
    border: 0;
}

#button_search:hover {
    cursor: pointer;
}

#main_nav a:hover {
    background-color: #ebebeb;
}

#main_nav a i {
    display: block;
}


/*Format body layout */

#body_wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#body_wrapper:after {
    content: ' ';
    display: block;
    clear: both;
}

#left_col {
    width: 850px;
    float: left;
}

#right_col {
    width: 340px;
    float: right;
}

#main_banner img {
    width: 850px;
    height: 400px;
}

#main_phone_list {
    text-align: justify;
}

#main_phone_list:after {
    content: ' ';
    display: inline-block;
    width: 100%;
}

.phone_box {
    font-size: 1.2em;
    text-align: left;
    width: 410px;
    height: 270px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #fff;
    padding: 30px 20px;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 25px #ccc;
    border: 1px solid #fdd504;
    position: relative;
    top: 0;
    left: 0;
}

.phone_box:hover {
    content: ' ';
    outline: 2px double #fdd504;
}

.phone_box img {
    width: 130px;
    height: 170px;
    float: left;
    margin-right: 35px;
}

a.phone_box ul li {
    list-style: circle;
    list-style-position: inside;
}

.info {
    display: inline-block;
    width: 55%;
}

.info ul {
    font-size: 1em;
    list-style: circle;
    list-style-position: inside;
    text-indent: 17px;
    display: inline-block;
}

.info h3 {
    color: blue;
    font-size: 18px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: hidden;
}

#news a {
    border-bottom: 3px solid #fdd504;
    display: block;
}

#news a h2 {
    display: inline-block;
    background-color: #FDD504;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

#news ul {
    list-style: none;
    background-color: #fff;
    border: 3px solid #fdd504;
    border-top: 0;
    width: 100%;
}

#news ul li {
    padding: 15px;
    border-bottom: 1px dotted #ccc;
}

#news ul li:after {
    content: ' ';
    display: block;
    clear: both;
}

#news ul li img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 2px;
}

#ads img {
    width: 100%
}

span.price {
    display: block;
    clear: left;
    color: red;
    font-size: 1.25em;
    text-align: center;
    padding: 10px;
}

span.discount {
    font-size: 0.8em;
    padding: 3px;
    background-color: red;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

span.gift {
    font-size: 0.8em;
    background-color: #00BE67;
    color: white;
    padding: 3px;
    position: absolute;
    top: 0;
    right: 0;
}

footer {
    font-family: 'Vibur', cursive;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
    background-color: darkgray;
    text-align: center;
    color: aquamarine;
}
